<head>
  <link rel="stylesheet" type="text/css" href="{{site.utl}}/css/spectre.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/spectre-icons.min.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/mods.css">
</head>
<header>
{% include header.html %} 
</header>

<div class="banner">
  <h1>Creative Transportation Solutions</h1>
  <h3>25 Years of Innovative Traffic Engineering</h3>
</div>

<img class="img-responsive" src="{{site.url}}/assets/cover2.jpg">
